<div class="card" style="box-shadow: none;">
    <div class="card-header card-header-info">
        <h4 class="card-title">Are you sure you want to delete this KPI?</h4>
        <p class="card-category">Take your time</p>
    </div>
    <div class="card-body">
        <p>KPI: {{data.name}}</p>
    </div>
    <div style="text-align: right;">
        <button 
            mat-raised-button type="button" 
            class="btn btn-danger btn-round"
            (click)="refuse()"
        >
            No
        </button>
        <button 
            mat-raised-button type="button" 
            class="btn btn-success btn-round" 
            cdkFocusInitial
            (click)="confirm()"
        >
            Yes
        </button>
    </div>
</div>