<div class="card" style="box-shadow: none;">
    <div class="card-header card-header-info">
        <h4 class="card-title">Set Treshold of block</h4>
        <p class="card-category">Take your time</p>
    </div>
    <div class="card-body">
        <p>{{data.label}}</p>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Operator</mat-label>
            <mat-select>
                <mat-option>></mat-option>
                <mat-option>{{'/<'}}</mat-option>
                <mat-option>>=</mat-option>
                <mat-option>{{'/<='}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Threshold</mat-label>
            <input matInput type="number" value="{{threshold}}" [(ngModel)]="threshold">
        </mat-form-field>
    </div>
    <br>
    <div style="text-align: right;">
    <button mat-raised-button type="button" class="btn btn-danger btn-round" (click)="refuse()">Exit</button>
    <button mat-raised-button type="button" class="btn btn-success btn-round" cdkFocusInitial (click)="confirm()">Save</button>
    </div>
</div>