<div class="card" style="box-shadow: none;">
    <div class="card-header card-header-info">
        <h4 class="card-title">Set a name of your Algorithm</h4>
        <p class="card-category">Take your time</p>
    </div>
    <div class="card-body">
        <p>{{this.data.algo | json}}</p>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <br>
    <div style="text-align: right;">
    <button mat-raised-button type="button" class="btn btn-danger btn-round" (click)="onNoClick()">Exit</button>
    <button mat-raised-button type="button" class="btn btn-success btn-round" cdkFocusInitial (click)="onNoClick()">Save</button>
    </div>
</div>