.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .example-list-2 {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
  }

  .example-box-3 {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box-2{
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    border: #ccc solid 1px;
    width: max-content;
  }

  .example-boundary {
    width: 50px;
    height: 50px;
    border: dotted #ccc 2px;
  }

  .example-list-horizontal {
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    background-color: #4feaff;
  }
  
  .example-box-horizontal {
    padding: 20px 10px;
    border-right: solid 1px #ccc;
    background-color: #30d0e6d3 !important;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    /*flex-direction: row;*/
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
  }

  #operators{
      font-size: 2em;
      margin-bottom: 0;
  }

  .list-container {
    overflow-y: auto;
    height: 32em;
  }